# yaml-language-server: $schema=https://aka.ms/dsc/schemas/v3/bundled/config/document.vscode.json

##########################################################################################################
# NOTE: Run: dsc config set --file .\configurations\os-configuration.dsc.yaml                            #
##########################################################################################################
$schema: https://aka.ms/dsc/schemas/v3/bundled/config/document.json
metadata:
  description: Configure Windows 11 OS settings
  winget:
    processor:
      identifier: dscv3
resources:
  - name: OS Version Check
    type: Microsoft.DSC/Assertion
    properties:
      $schema: https://aka.ms/dsc/schemas/v3/bundled/config/document.json
      resources:
        - name: Verify min OS version
          type: Microsoft.Windows.Developer/OsVersion
          properties:
            MinVersion: '10.0.22631'
  - name: Enable Developer Mode
    type: Microsoft.Windows.Developer/DeveloperMode
    dependsOn:
      - "[resourceId('Microsoft.DSC/Assertion', 'OS Version Check')]"
    properties:
      Ensure: Present
  - name: Show hidden files
    type: Microsoft.Windows.Developer/ShowHiddenFiles
    dependsOn:
      - "[resourceId('Microsoft.DSC/Assertion', 'OS Version Check')]"
    properties:
      Ensure: Present
  - name: Show file extensions
    type: Microsoft.Windows.Developer/HideFileExtensions
    dependsOn:
      - "[resourceId('Microsoft.DSC/Assertion', 'OS Version Check')]"
    properties:
      Ensure: Absent # Ensuring FileExtensions are shown (disables that they should be hidden)
  - name: Enable dark mode
    type: Microsoft.Windows.Developer/EnableDarkMode
    dependsOn:
      - "[resourceId('Microsoft.DSC/Assertion', 'OS Version Check')]"
    properties:
      Ensure: Present
      # Use caution when setting RestartExplorer to true as this will force explorer to close.
      RestartExplorer: true # Required to apply changes
  - name: Install flux
    type: Microsoft.WinGet/Package
    dependsOn:
      - "[resourceId('Microsoft.DSC/Assertion', 'OS Version Check')]"
    properties:
      id: flux.flux
      source: winget
