# yaml-language-server: $schema=https://aka.ms/dsc/schemas/v3/bundled/config/document.vscode.json

##########################################################################################################
# NOTE: Run: dsc config set --file .\configurations\rest-api-configuration.dsc.yaml                      #
##########################################################################################################
$schema: https://aka.ms/dsc/schemas/v3/bundled/config/document.json
metadata:
  description: Install tools for REST API development
  winget:
    processor:
      identifier: dscv3
resources:
  - name: Install k6 load testing
    type: Microsoft.WinGet/Package
    properties:
      id: k6.k6
      source: winget
  - name: Install Bruno
    type: Microsoft.WinGet/Package
    properties:
      id: Bruno.Bruno
      source: winget
  - name: Install Postman
    type: Microsoft.WinGet/Package
    properties:
      id: Postman.Postman
      source: winget
  - name: Install Insomnia
    type: Microsoft.WinGet/Package
    properties:
      id: Insomnia.Insomnia
      source: winget
  - name: Install Stoplight Studio
    type: Microsoft.WinGet/Package
    properties:
      id: Stoplight.Studio
      source: winget
  - name: Install Telerik Fiddler Classic
    type: Microsoft.WinGet/Package
    properties:
      id: Telerik.Fiddler.Classic
      source: winget
  - name: Install Visual Studio Code
    type: Microsoft.WinGet/Package
    properties:
      id: Microsoft.VisualStudioCode
      source: winget
  - name: Install VSCode Extensions
    type: Microsoft.DSC.Transitional/RunCommandOnSet
    dependsOn:
      - "[resourceId('Microsoft.WinGet/Package', 'Install Visual Studio Code')]"
    properties:
      executable: pwsh
      arguments:
        - -NoProfile
        - -Command
        - |
          $env:NODE_OPTIONS="--no-deprecation"
          $env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")
          $jsonContent = Get-Content '${WinGetConfigRoot}\rest-api-configuration-vscode-extensions.json' -Raw
          $extensions = (ConvertFrom-Json $jsonContent).extensions
          $installedExtensions = code --list-extensions
          foreach ($extension in $extensions) {
            if ($installedExtensions -notcontains $extension.name) {
              code --install-extension $extension.name
            }
          }
      exitCode: 0
